body{
    height: 100vh;
}	

h2{
    text-align: center;
    margin: 20px;
    font-family: 'Roboto', sans-serif;

}
table{
    width: 80%;
    border-collapse: collapse;
    border-radius: 5%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}
th{
    background-color: white;
    color: black;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #121211;
}
 td{
    color: black;
    background-color: rgba(0, 0, 0, 0.253);
    border: 1px solid #b7cf03;
    padding: 0.5rem;
    text-align: center;
    margin: 0 auto;
}