*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#formularioCotizacion{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    flex-wrap: wrap;
}
.formulario{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    cursor: pointer;
    color: rgb(171, 210, 30);
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

.select{
    width: 300px;
}