*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#formularioCotizacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    flex-wrap: wrap;
}
.formulario{
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;  
}

button{
    cursor: pointer;
    color: rgb(171, 210, 30);
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
button:hover{
    background-color: rgba(33, 34, 30, 0.676);
}
.select{
    width: 300px;
}

#containerBotones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}	